.gradientBg {
  background: linear-gradient(270deg, #3076ff -20.75%, #52fff4 115.44%);
}

.gradientBg2 {
  background: linear-gradient(90deg, #3076ff -15.41%, #52fff4 114.47%);
}

.c-padding {
  padding-left: 5vw;
  padding-right: 5vw;
}

.boxed {
  padding: 0 4vw;
  @media only screen and (max-width: $mobileResolution) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.bgGray {
  background: #111111;
}

.btn-primary {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  background: linear-gradient(90deg, #589cfe 0%, #5967ff 100%);
  border-radius: 10px;
  // text-transform: uppercase;
  padding: 7px 12px;
  cursor: pointer;
  @media only screen and (max-width: $mobileResolution) {
    padding: 0.5rem 0.7rem;
  }

  @media only screen and (max-width: $mobileResolution) {
    font-size: 13px;
  }

  @media only screen and (max-width: 360px) {
    font-size: 12px;
    padding: 0.7rem 0.6rem;
  }
  // a:hover {
  //   color: #000;
  // }

  // &:hover {
  //   background: linear-gradient(270deg, #3076ff -20.75%, #52fff4 115.44%);
  //   color: #000;
  // }
  // &:active,
  // &:visited {
  //   background: linear-gradient(270deg, #3076ff -20.75%, #52fff4 115.44%);
  //   color: #000;
  // }
}

.white {
  color: #fff;
}
