@import "/styles/variables.scss";

.container {
  margin-top: 5rem;
  // padding-top: 4rem;

  @media screen and (max-width: $mobileResolution) {
    padding: 3.5rem 1rem;
  }

  .banner {
    // padding: 2rem;
    background: #212121;
    border-radius: 10px;
    padding: 0px 5rem;
    display: flex;
    align-items: center;
    color: #fff;
    @media only screen and (max-width: 1200px) {
      padding: 4rem 5rem 3rem;
    }

    @media only screen and (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      padding: 4rem 5rem 3rem;
    }
    @media only screen and (max-width: 500px) {
      padding: 3rem 1.5rem 2rem;
    }
    .colLeft {
      flex-basis: 60%;
      color: #fff;
      @media only screen and (max-width: 900px) {
        margin-bottom: 2rem;
      }
      @media only screen and (max-width: 500px) {
        margin-bottom: 1rem;
      }

      h1 {
        max-width: 560px;
        line-height: 43px;
        color: #fff;
      }

      p {
        max-width: 530px;
        line-height: 26px;
        margin-top: 12px;
      }

      .inlineBlock {
        display: inline-block;
        padding: 9px 20px;
        margin-top: 1rem;
      }
    }
    .colRight {
      flex-basis: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      .imgWrapper {
        width: 500px;
        height: 500px;
        position: relative;

        @media only screen and (max-width: 1200px) {
          height: 310px;
          width: 310px;
        }
      }
    }
  }
}
